

*{
	margin: 0;
	padding: 0;
}

body{

	background-color: #fff;
}

/** Header Image setup **/
.jumbotron {
	background-color: #F9F9F9;
	margin: 0;
}

#header-image {
	width: 100%;
	height: auto;
}
/** End image setup **/

/** Header paragraph **/ 
p.tel {
	margin: 0;
}

p.sub {
	margin: 0;
	font-style: italic;
	font-weight: bold;
}
/** End header paragraph setup**/

/** Navbar Setup **/
nav.navbar{
	background-color: #AD9874;
	margin: 0;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
}

.nav {
	margin-left: 40%;
}

.nav a {
	color: black;
	font-size: 18px;
}
/** End Navbar Setup **/

/** Col Setup **/
.col-xs-12 {

	height: 350px;
	border:1px solid #AD9874;
	padding: 20px;
	font-size: 18px;
	overflow: scroll;
}

.col-xs-12:first-child {
	border-top: none;
}

.col-xs-6{
	height: 350px;
	border-left:1px solid #AD9874;
	border-right:1px solid #AD9874;
	border-bottom: 1px solid #AD9874;
	padding: 20px;
	font-size: 18px;
	overflow: scroll;
}

.col-xs-6:first-child {
	border-right: none;
}
/** Col set up end **/

/** First section setup**/
.tag {
	font-weight: bold;
	font-size: 16px;
	font-style: italic;
}

hr {
	margin: 0;
	padding: 0;
}

.home img {
	float: right;
	width: 350px;
	height: auto;
	margin: 15px;
}
/** End of first section setup **/

/** Service Detail Setup**/
.service h3 {
	margin-top: 0;
}
.service ul {
	padding-left: 20px;
	list-style-type: square;
}

#vet-pic img {

	display: block;
	height: 100%;
	width: auto;
	margin-left: auto; /** Hid this picture when mobile site is viewed**/
	margin-right: auto;
}
/** End of Service detail setup **/

/** FAQ Setup **/
#faq {
	height: 375px;
}
.question {
	font-weight: bold;
	font-style: italic;
	padding: 0;
	margin: 0;
}
/** End of FAQ setup **/

/** Location setup **/
iframe {
	display: block;
	margin: 0 auto;
}

address {

	font-size: 18px;
	text-align: center;
	padding-top: 30px;
	
}
/** end of location setup **/


/** Footer **/
footer{
	background-color: #AD9874;
	width: 100%;
	height: 75px;
	padding: 10px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

footer p {
	text-align: center;

}
/** End of Footer setup **/


@media (max-width: 767px){

	/** Nav Query info **/
	.nav {
		margin:0;
	}

	nav ul li a {
		display: block;
		width: 90px;
		float: left;
		text-align: center;
		height: 50px;
	}
	
	/** First Section **/
	.home {
		height: 800px;
	}
	
	#serv {
		width: 100%;
		height: 450px;
	}

	#vet-pic {
		visibility: hidden;
		display:none;
	}

	#faq {
		height: 620px;
	}
	
	#loc {
		height: 250px;
	}

	iframe {
		margin-left: -20px;
	}
}


@media (min-width: 768px){
	.nav {
			margin-left: 30%;
		}


}

@media(min-width: 992px){
	.nav {
			margin-left: 30%;
		}


}
